#err-content{
    display: inline-block;
    text-align: center;
    margin-left: 27rem;
}

.button-orange{
    background-color:#ffb15a;
    margin-right: 25rem;
    width: 205px;
    height: 47px;
}

.button-orange:hover{
    background-color:#ce914b;
}