/* Take demo */
.take-demo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 300px 0;
}

.take-demo > img{
    width: 45%;
}

.take-demo > div{
    width: 50%;
}

.take-demo h2{
    font-size: 40px;
}

.take-demo p{
    color: $another-grey;
    font-size: 20px;
}

.take-demo input{
    border-color: grey;
    height: 45px;
    width: 220px;
}

.all-button{
    width: 195px;
    height: 43px;
    margin: 0 0 0 34px;
    padding: 11px 5px 13px 6px;
    border-radius: 24px;
    background-color: $orange;
    color: white;
    font-size: 13px;
}

/* Intelligence economique */
.intelligence-eco{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 200px 0;
}

.intelligence-eco > div{
    width: 55%;
}

.intelligence-eco h2{
    font-size: 60px;
    color: $seafoam-blue;
}

.intelligence-eco > div:nth-child(1){
    display: flex;
    flex-direction: column;
}

.rectangle-bleu{
    width: 220px;
    height: 17px;
    background-color: $seafoam-blue;
}

.intelligence-eco h3{
    font-size: 30px;
    color: $black2;
}

.intelligence-eco p{
    color: $another-grey;
}

.bg-arrondi-bleu{
    position: absolute;
    top: 650px;
    left: 0;
    z-index: 1;
}

/* Presentation */
.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 200px 0;
}

.presentation > div{
    width: 50%;
}

.presentation > img{
    width: 50%;
    margin: 0 30px;
    z-index: 1000;
}

.seafoam-button{
    background-color: $seafoam-blue;
    margin: 0;
}

.presentation h2{
    font-size: 35px;
    margin: 5px 0;
    color: $black2
}

.presentation h3{
    margin: 0;
}

.crawler{
    color: $orange;
}

.presentation p{
    color: $another-grey;
    font-size: 16px;
}

.platform h3{
    color: #007993;
}

.pilot h3{
    color: $seafoam-blue;
}

.haricot-violet{
    position: absolute;
    right: 0;
    z-index: 1;
}

.haricot-jaune{
    position: absolute;
    left: 0;
    z-index: 1;
}

/* Nos solutions parfaites */
.nos-solutions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 200px 0;
    overflow: auto;
}

.nos-solutions > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nos-solutions h2{
    font-size: 35px;
    margin-bottom: 80px;
}

.nos-solutions h3{
    font-size: 22px;
}

.nos-solutions p{
    font-size: 18px;
}

.nos-solutions__lign1, .nos-solutions__lign2{
    display: flex;
    align-items: center;
}

.nos-solutions__lign1 > div, .nos-solutions__lign2 > div{
    width: 280px;
    margin: 30px;
}

.arc-cercle-solutions{
    position: absolute;
    left: 0;
    top: 3200px;
}

/* Confiance */
.confiance{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 200px 0;
}

.confiance > div{
    width: 55%;
}

.confiance h2{
    font-size: 60px;
    color: $seafoam-blue;
}

.confiance > div:nth-child(1){
    display: flex;
    flex-direction: column;
}

/* Blog */
#le-blog{
   
}

.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.blog > h2{
    font-size: 35px;
    margin-bottom: 80px;
}

.blog__articles-container > div h3{
    font-size: 22px;
    margin-bottom: 0;
}

.blog__articles-container > div p{
    margin: 5px;
    font-size: 15px;
}

.blog__articles-container{
    display: flex;
    margin: 20px 0 40px 0;
}

.blog__articles-container > div{
    margin: 20px;
}

.blog__articles-container > div > div{
    width: 378px;
    height: 248px;
    background-color: #5dd1e6;
}