////
/// Import all files
/// Order do matter
///
////

/// Settings
@import 'settings/colors';
@import 'settings/fonts';
@import 'settings/bootstrap';

// Generic
@import 'generic/normalize';
@import 'generic/reset';

// Tools (helper, mixins and function)
// @import 'tools/'


// Base
@import 'elements/body';
@import 'elements/blocks';
@import 'elements/headings';
@import 'elements/forms';
@import 'elements/links';

// Objects
@import 'objects/forms';
@import 'objects/highlights';

// Components
@import 'components/header';
@import 'components/footer';
@import 'components/front-page';
@import 'components/gabarit-2';
@import 'components/blog';
@import 'components/404';

// Trumps
@import 'trumps/print';
