<footer id="footer" class="footer" >
  <div class="top-part__footer">
    <img src="{{theme.path}}/assets/img/logo.png" alt="">
    <div>
      <h2 class="footer__h2">Contact</h2>
      <a href="">Lorem ipsum</a>
      <a href="">Dolor amet</a>
      <a href="">Valem setum</a>
      <a href="">Uller Sole</a>
    </div>
    <div>
      <h2 class="footer__h2">Vos enjeux</h2>
      <a href="">Lorem ipsum</a>
      <a href="">Dolor amet</a>
      <a href="">Valem setum</a>
      <a href="">Uller Sole</a>
    </div>
    <div>
      <h2 class="footer__h2">Contact</h2>
      <a href="">Lorem ipsum</a>
      <a href="">Dolor amet</a>
      <a href="">Valem setum</a>
      <a href="">Uller Sole</a>
    </div>
    <div>
      <h2 class="footer__h2">Newsletter</h2>
      <div>
        <input type="text" placeholder="Votre email">
        <img src="" alt="">
      </div>
      <span></span>
    </div>
  </div>
  <div class="bottom-part__footer">
    <span></span>
    <div>
      <div>
        <a href="">Plan du site</a>
        <a href="">Mentions légales</a>
      </div>
      <div>
        <img src="{{theme.path}}/assets/img/linkedin-font-awesome.png" alt="">
        <img src="{{theme.path}}/assets/img/facebook-font-awesome.png" alt="">
        <img src="{{theme.path}}/assets/img/twitter-font-awesome.png" alt="">
      </div>
  </div>
  </div>
</footer>
